.int{
    background-color: #001E2B;
    color:white;
}

.mtitulo1{
    font-size: xxx-large
}

.msubtitulo1{
    
    color: #B8C4C2;
    font-size: large;
}

.mmodel{
    text-indent: 35px;
    font-size: xx-large;
    border-left: solid #3D4F58;
}

.mquery{
    text-indent: 35px;
    font-size: xx-large;
    border-left: solid #3D4F58;

}

.moptmize{
    text-indent: 35px;
    font-size: xx-large;
    border-left: solid #3D4F58;

}